         *{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
 }
 body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: conic-gradient(from 0deg, grey,black, gray);
    color:grey;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
 header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:20px;
    background: conic-gradient(from 0deg, grey,black, gray);
}
 .logo{
    font-size:2.5rem;
    font-style: italic;
    color:seagreen;
    text-transform:uppercase;
    word-spacing:5px;
    font-family:'Rubik Moonrocks', cursive;
}
 nav ul{
    display:flex;
    gap:30px;
    list-style:none;
    margin: 0;
    padding:0;
}
 nav li{
   margin-left:20px;
      
}
 nav li:hover{
    background-color: blue;
    cursor:all-scroll;
}
 nav a {

    text-decoration: none;
    text-transform: capitalize;
    font-style: italic;
    color:white;
    font-size:1.25rem;
}
/* Responsive Design */
@media (max-width: 1024px) {
    .logo {
        font-size: 2rem;
    }
    nav a {
        font-size: 1rem;
    }
}
@media (max-width: 768px) { 

    header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    nav ul {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    nav li {
       margin-left: 0;
    }
}

        /* project content */
        .h1 {
            text-align: center;
            margin-top: 20px;
            font-size: 3rem;
            color: seagreen;
            font-family: 'Rubik Moonrocks', cursive;
            text-transform: uppercase;
        }

        /* CARD GRID */
        .container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
            gap: 25px;
            padding: 25px;
        }

        .card1 {
            background: rgba(255, 255, 255, 0.05);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.4);
            text-align: center;
            margin-bottom:8rem;
            
        }

        .card1 img {
            width: 100%;
            height: 230px;
            object-fit: cover;
            border-radius: 10px;
        }

        .card1 p {
            margin-top: 15px;
            color: white;
            font-style: italic;
        }

        /* FOOTER */
        footer {
            background: conic-gradient(from 0deg, grey, black, gray);
            color: white;
            text-align: center;
            padding: 20px;
            margin-top: 40px;
            font-size: 1.1rem;
            text-transform: capitalize;
    
        
        }